# Sistema
.DS_Store
*.swp
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# Editor
.vscode/
.idea/
*.code-workspace

# Logs y temporales
*.log
*.tmp
